<div class="row">
    <h3>Highscore</h3>
    <table class="table table-hover">
        <thead>
            <tr>
                <th>Player Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each .}}
            <tr>
                <td>{{@key}}</td>
                <td>{{this}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>