<div class="row">
    <h3>Highscore</h3>
    <table class="table table-hover">
        <thead>
            <tr>

                <th>Player Name</th>
                <th>Score</th>
            </tr>
        </thead>
        <tbody>
            {{#each Storage}}
            <tr>

                <td>{{key}}</td>
                <td>{{value}}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</div>