#high-scores {
    margin-top: 17px;
}
html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

}

.table-styles {
    background-color: #99acc6;
    padding: 15px;
    margin-bottom: 20px;
}

.contrainer-slt {
    background-color: #D9E1E8;
    padding: 15px;

}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}
.row{
    display: block;
}

.btn-margin {
    margin: 0px;
}

.input-margin {
    margin: 14px;
    height: 40px;
}

.footer-margin {
    margin: 10px;
}

.btn .caret {
    margin-left: 5px;
}

.top-buffer {
    padding-top: 10px;
    margin-top: 10px;
}

.field {
    width: 23px;
    height: 23px;
    text-align: center;
    object-position: top;

}

.flag {
    background: url("../img/flag.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bomb {
    background: url("../img/bomb.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hide {
    display: none;
}
