#high-scores {
    margin-top: 17px;
}

.table-styles {
    background-color: #99acc6;
    padding: 15px;
    margin-bottom: 20px;
}

.contrainer-slt {
    background-color: #D9E1E8;
    padding: 15px;
}

.dropdown-container {
    position: relative;
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    right: 0;
}

.btn-margin {
    margin: 10px;
}

.footer-margin {
    margin: 10px;
}

.btn .caret {
    margin-left: 5px;
}

.field {
    width: 25px;
    height: 25px;
    padding-left: 10px;
}

.flag {
    background: url("../../img/flag.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.bomb {
    background: url("../../img/bomb.jpg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}

.hide {
    display: none;
}